@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/site.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
		<div id="fixedheader"><a href="https://www.gov.uk" title="Go to Gov.uk website" id="logo">
		<img src="@routes.Assets.at("images/crest.png")" class="invert" style="vertical-align:middle;display:inline;"><span> GOV.UK</span></a></div>
			@content
		<div id="fixedfooter"></div>
	</body>
</html>
